[Desktop Entry]
Type=Application
Version=1.0
Name=Kismet Chess
Comment=Launch the chess game
Exec=gnome-chess
Icon=kismet-chess
Terminal=false
Categories=Game;
StartupNotify=true
